.btn-primary
{
    color: #fff;
    background-color: #1be67f;
    border-color: #1be67f;
}

.btn-primary:hover
{
    color: #fff;
    background-color: #1be67f;
    border-color: #1be67f;
}

.btn-primary:not(:disabled):not(.disabled):active
{
    color: #fff;
    background-color: #1be67f;
    border-color: #1be67f;
}